*{
    margin: 0;
    padding: 0;
}
.main-card{
    height: 500px;
    padding-top: 30px;
    background-color: lightgray;
}
.master-card{
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 343px;
    height: 318px;
    border-radius: 5px;
    background-color: #fff;
}
.user-card{
    width: 300px;
    height: 280px;
    
}
.user-name{
    font-size: 15px;
    color: #111;
}

.info-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 24px;
   
}

.user-info{
    margin-top: 24px;
}
.user-level{
    font-size: 12px;
    line-height: 15px;
    color: #111111;
    opacity: 0.4;
    margin-bottom: 24px;
}
.info-box{
    padding: 5px 20px;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.user-loc{
    font-size: 10px;
    color: #783C11;
}